nav a{

    border: 2px solid rgb(172, 128, 128);
    padding: 10px;
    background-color: rgb(245, 214, 189);
    text-decoration: none;
}
nav {padding: 20px;}
a {
    color: rgb(206, 111, 111);
    text-align: center;
}
header {
    background-color: rgb(224, 255, 250);
}
body {
    font-family: sans-serif;
}
header {
    background-color: rgb(238, 206, 180);
    border: 2px solid rgb(148, 98, 158);
    color: rgb(143, 20, 57);
    font-family: 'Lucida Sans Unicode';
}
h1 {
    color: rgb(182, 72, 78);
    background-color: rgb(245, 226, 208);
    font-family: 'PT Sans';
    font-size: 45px;
}

footer {
    border: 4px solid rgb(161, 118, 118);
    background-color: rgb(241, 196, 159);
}
footer p {
    border: 2px solid rgb(247, 184, 184);
    background-color: rgb(253, 245, 231);
}

.hello {
    background-color: rgb(235, 182, 139);
    border: 2px solid rgb(141, 92, 119);
    border-radius: 10px;
    color: rgb(100, 41, 41);
    font-family: 'PT Sans';
}
p {
    text-size: 20px;
}

main h2 {
    color: rgb(160, 80, 107);
}
.helloq{
    text-decoration: none;
    color: rgb(167, 107, 162);
    border: 2px solid rgb(141, 92, 119);
    padding: 8px;
}
